<div class="page-background"></div>
<div class="login-container">
  <div class="sign-form-header">
    <%= image_tag "running_man.png" %>
    <h1>JogLog</h1>
  </div>
  <hr>
  <div class="sign-form">
    <%= render "shared/sign_form", user: @user, type: :new_session %>
  </div>
  <hr>
  <h4>First time here? <a href="/users/new">Sign up!</a></h4>
</div>
