<div class="page-background">
  <div class="sign-form">
    <h1>Sign In</h1>
    <br>
    <%= render "shared/sign_form", user: @user, type: :new_session %>
    <h3>First time here? <a href="/users/new">Sign up!</a></h3>
  </div>
</div>
