<script>
  var demo = function() {
    $("#username").typed({
      strings: ["Prefontaine"],
      typeSpeed: 30,
      showCursor: true,
      callback: function() {
        $("#password").typed({
          strings: ["password"],
          typeSpeed: 30,
          showCursor: true,
          callback: function() {
            $("#submit-login").click();
          }
        })
      }
    })
  }
</script>

<div id="background">
  <%= image_tag "splash_background.jpg" %>
</div>
<div class="login-container">
  <div class="sign-form-header">
    <%= image_tag "running_man.png" %>
    <h1>JogLog</h1>
  </div>
  <hr>
  <div class="sign-form">
    <%= render "shared/sign_form", user: @user, type: :new_session %>
  </div>
  <hr>
  <h4>First time here? <a href="/users/new">Sign up!</a></h4>
  <h4><a onClick="demo();">Click to try the Demo Account</a></h4>
</div>
