<div id="background">
  <%= image_tag "splash_background.jpg" %>
</div>
<div class="login-container sign-up">
  <div class="sign-form-header">
    <%= image_tag "running_man.png" %>
    <h1>JogLog</h1>
  </div>
  <hr>
  <div class="sign-form">
    <%= render "shared/sign_form", user: @user, type: :new_user %>
  </div>
  <hr>
  <h4>Have an account? <a href="/session/new">Log in!</a></h4>
</div>
