@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url('splash_background.jpg');
  background-position: 50%;
  background-attachment: fixed;
}

.sign-form {
  margin: auto;
  position: relative;
  top: 150px;
  width: 300px;
  border: 1px solid #ccc;
  opacity: 0.85;
  background-color: #B8CAFD;
}

.navbar-custom {
  background-color: #ccccff;
  border-bottom: 2px solid #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#eaeffe), to(#B8CAFD));
  background-image: -webkit-linear-gradient(top, #eaeffe, 0%, #B8CAFD, 100%);
  background-image: -moz-linear-gradient(top, #eaeffe 0%, #B8CAFD 100%);
  background-image: linear-gradient(to bottom, #eaeffe 0%, #B8CAFD 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeaeffe', endColorstr='#ffB8CAFD', GradientType=0);
  position: relative;
  min-height: 58px;
  font-family: 'Racing Sans One', cursive;
  font-size: 28px;
  text-shadow:
   -1px -1px 0 #fff,
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
   1px 1px 0 #fff;
}

.logo {
  font-size: 36px;
  text-shadow:
   -2px -2px 0 #fff,
   2px -2px 0 #fff,
   -2px 2px 0 #fff,
   2px 2px 0 #fff;
   padding: 18px 15px 18px 0px;
   line-height: 20px;
   color: #23527C;
   top: -2px;
}

.logo:hover {
  cursor: default;
}

a {
  color: #23527C;
}

.nav > li > a {
  padding: 18px 10px;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0px 8px 6px -6px #999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover,
.nav .open > a:focus  {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#eaeffe), to(#B8CAFD));
  background-image: -webkit-linear-gradient(top, #eaeffe, 0%, #B8CAFD, 100%);
  background-image: -moz-linear-gradient(top, #eaeffe 0%, #B8CAFD 100%);
  background-image: linear-gradient(to bottom, #eaeffe 0%, #B8CAFD 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeaeffe', endColorstr='#ffB8CAFD', GradientType=0);
  background-color: #B8CAFD;
  text-shadow:
   -2px -2px 0 #fff,
   2px -2px 0 #fff,
   -2px 2px 0 #fff,
   2px 2px 0 #fff;
}

.dropdown-menu {
  border: 1px solid #ccc;
  // left: 10px;
  top: 48px;
  background-color: #eaeffe;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 7px;
}

.left-list {
  margin-left: 6%;
}

.right-list {
  margin-right: 6%;
}

.home-container {
  width: 85%;
  margin: auto;
}

.workout-feed {
  float: left;
  width: 48.5%;
  min-width: 300px;
  height: 800px;
  margin: 1% 0.5% 1% 1%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #8C9C82;
  background-color: #B8CAFD;
  opacity: 0.9;
}

.form-header {
  margin: 5px;
  text-align: center;
}

.workout-form-container {
  float: right;
  width: 48.5%;
  margin: 1% 1% 0.5% 0.5%;
  height: 390px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #8C9C82;
  background-color: #B8CAFD;
  opacity: 0.9;
}

.leaderboards {
  float: right;
  width: 48.5%;
  height: 390px;
  margin: 0.5% 1% 1% 0.5%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #8C9C82;
  background-color: #B8CAFD;
  opacity: 0.9;
}

.calendar-page-container {
  width: 98%;
  height: 98%;
  margin: 10px auto;
  background-color: #B8CAFD;
  opacity: 0.9;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px -8px 10px -6px #999;
  -moz-box-shadow: 0px -8px 10px -6px #999;
  box-shadow: 0px -8px 10px -6px #999;
}

.day {
  height: 100%;
  border: 1px solid #fff;
}

tr > th.day-header-item, .table > tbody > tr > td {
  border: 1px solid #fff;
}

.table > thead > tr > th {
  border-bottom: 2px solid #fff;
}

.day-header-item {
  text-align: center;
}

.workout-toggle {
  float: right;
  margin-right: 30px;
  &:hover {
    cursor: default;
  }
}

.workout-item {
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}

.no-selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.calendar-header > th {
  text-align: center;
  font-size: 36px;
  // font-family: 'Muli', sans-serif;
  color: #183854;
  &:hover {
    cursor: pointer;
  }
  &:first-child {
    text-align: right;
    border-left: 1px solid #fff;
  }
  &:last-child {
    text-align: left;
    border-right: 1px solid #fff;
  }
}

.neighbor-month {
  background-color: #d7e1fd;
}

.week-totals, .totals-header {
  background-color: #9fb7fc
}

.calendar-grid {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  margin: 0;
}

.form-workout-title {
  display: inline;
}
