.leaderboards-container {
  float: left;
  margin: 0 2% 4% 2%;
  width: 100%;
  max-width: 500px;
  -webkit-box-shadow: 1px -1px 5px 0px #333;
  -moz-box-shadow: 1px -1px 5px 0px #333;
  box-shadow: 1px -1px 5px 0px #333;
}

.leaderboard-wrapper {
  background-color: #333;
  padding: 10px;
  border: 1px solid #fff;
  & > h1 {
    color: #F3E6BA;
    font-family: 'Bitter', serif;
    font-size: 36px;
    text-align: center;
    margin: 10px auto;
  }
  & > div.panel-group {
    margin-bottom: 0px;
    & > div.leader-panel {
      border-radius: 0;
    }
    & > div > div.panel-heading {
      background-color: #86B5FF;
      font-family: 'Bitter', serif;
      border-radius: 0;
      color: #333;
      padding: 5px;
      font-size: 18px;
      border-bottom: 1px solid #fff;
      text-align: center;
    }
    & > div > div.panel-body {
      background-color: #333;
      color: #fff;
      font-size: 18px;
      & > table.table {
        margin-bottom: 0;
        & > tbody > tr {
          & > td {
            padding: 0;
            border: none;
            width: 180px;
            & > a {
              display: inline-block;
              width: 100%;
              color: #F3E6BA;
              &:hover{
                color: #86B5FF;
                font-weight: 700;
                text-decoration: none;
              }
            }
          }
          & > td:first-child {
            width: 50px;
          }
        }
      }
    }
  }
}

.filter-container {
  padding-bottom:10px;
  height: 60px;
  margin: 0 auto;
  width: 460px;
  position: relative;
  font-family: 'Lato', sans-serif;
  & > .filter {
    display: inline-block;
    float: left;
    height: 30px;
    margin-left: 10px;
    &:first-child {
      margin-left: 0px;
    }
    &.activity-filter {
      width: 150px;
      & > div {
        & > div > span.glyphicon-chevron-left {
          left: 130px;
        }
        & > ul > li {
          width: 152px;
          & > span.glyphicon-ok {
            left: 120px;
          }
        }
      }
    }
    &.gender-filter {
      width: 100px;
      & > div {
        & > div > span.glyphicon-chevron-left {
          left: 80px;
        }
        & > ul > li {
          width: 102px;
          & > span.glyphicon-ok {
            left: 70px;
          }
        }
      }
    }
    &.group-filter {
      width: 190px;
      & > div {
        & > div > span.glyphicon-chevron-left {
          left: 170px;
        }
        & > ul > li {
          width: 192px;
          & > span.glyphicon-ok {
            left: 160px;
          }
        }
      }
    }
    & > div.filter-label {
      color: #86B5FF;
      font-size: 12px;
    }
    & > .choice-select-container {
      height: 100%;
      & > div > span:first-child {
        top: 3px;
      }
      & > div > span.glyphicon-chevron-left {
        top: 10px;
      }
    }
  }
}

.panel-group {
  margin-bottom: 0;
}
