/* cream: #F3E6BA
   green: #B6F086
   red: #f06060 */


.leaderboards-container {
  float: left;
  margin: 0 2% 4% 2%;
  width: 100%;
  max-width: 600px;
  -webkit-box-shadow: 1px -1px 5px 0px #333;
  -moz-box-shadow: 1px -1px 5px 0px #333;
  box-shadow: 1px -1px 5px 0px #333;
}

.leaderboard-wrapper {
  background-color: #333;
  padding: 10px;
  & > h1 {
    color: #F3E6BA;
    font-family: 'Bitter', serif;
    font-size: 36px;
    text-align: center;
    margin: 10px auto;
  }
}

.panel-group {
  margin-bottom: 0;
}
