.login-container {
  margin: -200px 0 0 -200px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;;
  height: 405px;
  border: 1px solid #ccc;
  opacity: 0.85;
  background-color: #333;
  & > .sign-form-header {
    padding-top: 20px;
    width: 277px;
    height: auto;
    margin: auto;
    & > h1 {
      display: inline;
      font-family: 'Racing Sans One', cursive;
      font-size: 64px;
      color: #F3E6BA;
    }
    & > img {
      float: left;
      height: 50px;
      width: 50px;
      position: relative;
      top: 10px;
    }
  }
  & > .sign-form {
    position: relative;
    margin: 20px auto;
    & > form {
      & > div.input-group {
        width: 80%;
        margin: auto;
        padding: 10px;
        & input:focus, .btn:focus, .btn:hover {
          border-color: #a9f073;
          outline: 0;
          outline: thin dotted \9;
          /* IE6-9 */

          -webkit-box-shadow: inset 0 1px 1px #a9f073, 0 0 5px #a9f073;
          -moz-box-shadow: inset 0 1px 1px #a9f073, 0 0 5px #a9f073;
          box-shadow: inset 0 1px 1px #a9f073, 0 0 5px #a9f073;
        }
      }
      & > .btn {
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        font-family: Arial;
        color: #333333;
        font-size: 16px;
        background: #f3e6ba;
        margin: 10px auto;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        display: block;
        &:focus, &:hover {
          background-color: #a9f073;
        }
      }
    }
  }
  & > h4 {
    color: #f3e6ba;
    text-align: center;
    & > a {
      color: #fff;
    }
  }
}
