.header {
  background-color: #333;
  border-bottom: 2px solid #fff;
}

.navbar-content {
  font-family: 'Bitter', serif;
  width: 94%;
  margin: auto;
}

.logo {
  width: 178px;
  height: auto;
  padding: 10px;
  margin: 0;
  float: left;
  & > h1 {
    display: inline;
    font-family: 'Racing Sans One', cursive;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    color: #F3E6BA;
    bottom: 3px;
    &:hover {
      color: #a9f073;
      cursor: pointer;
    }
  }
  & > img {
    float: left;
    height: 35px;
    width: 35px;
    position: relative;
  }
}

.nav-list {
  &.list-left {
    float: left;
  }
  &.list-right {
    float: right;
  }
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
  line-height: 30px;
  font-size: 28px;
  & > li {
    float: left;
    position: relative;
    display: inline;
    padding: 15px 5px;
    ul {
      max-height:0;
      font-family: 'Lato', sans-serif;
      overflow:hidden;
      -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
      -webkit-transform-origin: 50% 0;
      -webkit-transition: all 350ms;
      -moz-transition: all 350ms;
      -o-transition: all 350ms;
      transition: all 350ms;
    }
    &:hover ul {
      max-height:1000px;
      -webkit-transform:perspective(400) rotate3d(0,0,0,0);
    }
    span.glyphicon-chevron-left {
      -webkit-transition: transform 350ms ease;
      -moz-transition: transform 350ms ease;
      -o-transition: transform 350ms ease;
      transition: transform 350ms ease;
    }
    &:hover span.glyphicon-chevron-left {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
    }
    & > a {
      color: #fff;
      padding: 15px 10px;
      &:focus {
        text-decoration: none;
      }
    }
    &:hover > a {
      color: #a9f073;
      text-decoration: none;
    }
  }
}

.glyphicon-chevron-left {
  position: absolute;
  top: 23px;
  padding-left: 2px;
  font-size:15px;
}

.team-list {
   position: absolute;
   list-style: none;
   background-color: #333;
   padding: 0 10px;
   top: 100%;
   left: -28px;
   z-index: 5;
   width: 209px;
   border: 2px solid #fff;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
  & > li {
    padding: 5px 0;
    color: #F3E6BA;
    font-size: 16px;
    text-align: center;
    & > a {
      font-family: 'Bitter', serif;
      color: #F3E6BA;
      &:hover {
        color: #a9f073;
        text-decoration: none;
      }
    }
    & > a.add-team {
      color: #fff;
      padding: 10px 0;
      font-size: 22px;
      &:hover {
        color: #a9f073;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
  }
  & > hr {
    margin: 2px 0px;
  }
}

.team-link {
  position: relative;
}
