/* cream: #F3E6BA
   maroon #967331
   white #fff */

.header {
  background-color: #000;
  opacity: 1;
  border-bottom: 2px solid #F3E6BA;
}

.navbar-content {
  font-family: 'Montserrat', sans-serif;
  width: 1200px;
  margin: auto;
}

.logo {
  width: 178px;
  height: auto;
  padding: 10px;
  margin: 0;
  float: left;
  & > h1 {
    display: inline;
    font-family: 'Racing Sans One', cursive;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    color: #F3E6BA;
    bottom: 3px;
    &:hover {
      color: #a9f073;
      cursor: default;
    }
  }
  & > img {
    float: left;
    height: 35px;
    width: 35px;
    position: relative;
  }
}

.list-left {
  float: left;
  & > li > a {
    float: left;
  }
}

.list-right {
  float: right;
  & > li > a {
    float: left;
  }
}

.nav-list {
  list-style: none;
  padding: 15px 0px;
  margin-bottom: 0px;
  line-height: 30px;
  font-size: 28px;
  & > li {
    display: inline;
    & > a {
      color: #fff;
      padding: 0px 10px;
      &:hover {
        color: #a9f073;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.navbar-search {
  position: relative;
  display: block;
  float: left;
  top: 13px;
  padding: 0 15px;
  & > form {
    width: 200px;
  }
}

.search-results-list {
  position: absolute;
  background-color: #000;
  z-index: 1;
  list-style: none;
  top: 47px;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 200px;
  border-left: 2px solid #f3e6ba;
  border-right: 2px solid #f3e6ba;
  border-bottom: 2px solid #f3e6ba;
  & > li {
    padding: 5px 0px;
    &:hover {
      cursor: default;
    }
    & > a {
      color: #fff;
      &:hover {
        color: #a9f073;
        text-decoration: none;
      }
    }
  }
  & > li.list-title {
    color: #F3E6BA;
  }
}

.team-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 15px;
  float: left;
  min-width: 160px;
  padding: 0px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.hide {
  display: none;
}

.team-list > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
}

.team-list > li {
  padding: 5px 0px;
}


.dropdown-menu {
  border: 1px solid #ccc;
  // left: 10px;
  top: 48px;
  background-color: #eaeffe;
  & > li > p {
    padding: 3px 20px;
  }
}
