.header {
  background-color: #3F593A;
  border-bottom: 1px solid #999;
}

.navbar-content {
  font-family: 'Bitter', serif;
  width: 94%;
  margin: auto;
}

.logo {
  width: 178px;
  height: auto;
  padding: 5px;
  margin: 0;
  float: left;
  & > h1 {
    display: inline;
    font-family: 'Racing Sans One', cursive;
    font-size: 36px;
    line-height: 40px;
    position: relative;
    color: #F9EBD2;
    bottom: 3px;
    text-shadow: 2px 2px 1px #333;
    &:hover {
      cursor: default;
    }
  }
  & > img {
    float: left;
    height: 35px;
    width: 35px;
    position: relative;
  }
}

.nav-list {
  &.list-left {
    float: left;
  }
  &.list-right {
    float: right;
  }
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
  line-height: 30px;
  font-size: 18px;
  & > li {
    float: left;
    position: relative;
    display: inline;
    padding: 10px 5px;
    ul {
      font-family: 'Lato', sans-serif;
      overflow:hidden;
      opacity: 0;
      visibility: hidden;
      z-index: 10;
      -webkit-transition: opacity 350ms;
      -moz-transition: opacity 350ms;
      -o-transition: opacity 350ms;
      transition: opacity 350ms;
    }
    &:hover ul {
      // max-height:500px;
      visibility: visible;
      opacity: 1
    }
    span.glyphicon-chevron-down {
      font-size: 13px;
      left: 5px;
      position: relative;
    }
    & > a {
      color: #fff;
      padding: 15px 10px;
      &:focus {
        text-decoration: none;
      }
      &.username {
        cursor: default;
      }
    }
    &:hover > a {
      color: #71B764;
      text-decoration: none;
    }
    &:hover > a.username {
      color: #fff;
      text-decoration: none;
    }
  }
}

.glyphicon-chevron-left {
  position: absolute;
  top: 18px;
  padding-left: 2px;
  font-size:12px;
}

.team-list {
   position: absolute;
   list-style: none;
   background-color: #3F593A;
   padding: 0 10px;
   top: 100%;
   left: -23px;
   width: 180px;
   border: 1px solid #999;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
  & > li {
    padding: 0;
    color: #F3E6BA;
    font-size: 16px;
    text-align: center;
    & > a {
      font-family: 'Lato', sans-serif;
      color: #fff;
      display: block;
      &:hover {
        color: #71B764;
        text-decoration: none;
      }
    }
    &:last-child > a:hover {
      font-weight: normal;
    }
    & > a.add-team {
      color: #F9EBD2;
      padding: 3px 0;
      font-size: 18px;
      font-family: 'Bitter', serif;
      &:hover {
        font-weight: normal;
        color: #71B764;
      }
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
  }
  & > hr {
    margin: 2px 0px;
    border-top: 1px solid #fff;
  }
}

.team-link {
  position: relative;
}
