.workout-form-container {
  float: right;
  width: 100%;
  max-width: 500px;
  margin: 10px 20px;
  background-color: #F9EBD2;
}

.left-input {
  clear: left;
  width: 215px;
  float: left;
  & > #distance-label {
    width: 100%;
  }
  & > input.distance-input {
    width: 39%;
    display: inline-block;
  }
  & > div {
    display: inline;
    & > div#workout-form-distance-unit {
      width: 60%;
      float: right;
      display: inline-block;
      & > ul {
        & > li {
          width: 131px;
          & > span {
            left: 100px;
          }
        }
      }
    }
  }
}

.right-input {
  clear: right;
  width: 215px;
  float: right;
}

.miles {
  position: absolute;
  right: 20px;
  bottom: 7px;
  color: #000;
  font-size: 18px;
}

.full-input {
  clear: both;
  width: 100%;
}

.form-wrapper {
  padding: 0px 20px 10px 20px;
  background-color: #FFFBF4;
  border: 1px solid #999;
  border-bottom: none;
  color: #333;
  width: 100%;
  h1 {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 36px;
  }
  & > form > div {
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    label {
      font-size: 18px;
    }
  }
}

.workout-input {
  padding-left: 10px;
  font-size: 18px;
  display: block;
  border: 1px solid #999;
  width: 100%;
  height: 40px;
  color: #333;
  &.workout-notes {
    height: 100px;
  }
  &:focus {
    outline-color: #71B764;
  }
}

.activity-select-wrapper {
  &:focus {
    outline: none;
    & > div > div {
      outline-color: #71B764;
      outline-style: auto;
      outline-width: 5px;
    }
  }
}

.choice-select-container {
  cursor: pointer;
  position: relative;
  background-color: #fff;
  height: 40px;
  & > .choice-select {
    position: relative;
    & > span {
      &:first-child {
        position: relative;
        top: 8px;
        padding: 8px 0;
      }
      &.glyphicon {
        position: absolute;
        top: 14px;
        font-size: 15px;
        right: 6px;
      }
    }
  }
  & > ul.choice-list {
    position: absolute;
    list-style: none;
    margin-left: 0px;
    padding: 5px;
    font-size: 18px;
    z-index: 2;
    top: 95%;
    left: -6px;
    li {
      background-color: #fff;
      position: relative;
      height: 30px;
      width: 215px;
      padding: 3px 10px;
      left: 1px;
      border: 1px solid #999;
      border-top: 0;
      color: #333;
      font-size: 16px;
      transition: background-color 100ms ease-out;
      &:first-child {
        border-top: 1px solid #999;
      }
      &:hover {
        background-color: #C3D8BA;
        font-weight: 900;
      }
      & > span.glyphicon {
        position: absolute;
        top: 3px;
        left: 180px;
        font-size: 20px;
        -webkit-transition: transform 350ms ease;
        -moz-transition: transform 350ms ease;
        -o-transition: transform 350ms ease;
        transition: transform 350ms ease;
      }
    }
  }
}

.input-group {
  & > label {
    font-weight: normal;
  }
}

.duration-string {
  display:block;
  position: absolute;
}

hr {
  margin: 15px 0;
  border-top: 1px solid #333;
}

.workout-submit {
  margin: 0px auto 10px auto;
  display: block;
  height: 40px;
  width: 120px;
  background-color: #F3E6BA;
  border: 1px solid #333;
  color: #333;
  font-family: 'Lato', sans-serif;

  font-size: 24px;
  &:hover {
    background-color: #71B764;
  }
  &:focus {
    outline-color: #71B764;
  }
}

.close {
  font-size: 33px;
}

.view-comments-wrapper {
  background-color: #FFFBF4;
  border: 1px solid #999;
  border-top: 0;
  & > div.feed-item-footer > div.feed-item-comments-header > span {
    color: #333;
  }
}

#title-error {
  display: none;
  float:right;
  color: #DA8686;
  margin-top: 5px;
  &.show-error {
    display: inline-block;
  }
}

#workout-title.show-error {
  background-color: #DA8686;
}
