.form-header {
  margin: 5px;
  text-align: center;
}

.left-list {
  margin-left: 6%;
}

.right-list {
  margin-right: 6%;
}

.workout-form-container {
  float: right;
  width: 48.5%;
  margin: 1% 1% 0.5% 0.5%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #8C9C82;
  background-color: #B8CAFD;
  opacity: 0.9;
  border: 2px solid #fff;
}

.left-input {
  width: 48%;
  float: left;
}

.right-input {
  width: 48%;
  float: right;
}

.workout-form > input.btn {
  margin: auto;
  display: block;
  width: 50%;
}

.form-div > h1 {
  text-align: center;
}
