/* cream: #F3E6BA
   maroon #967331
   white #fff */

.workout-form-container {
  float: right;
  width: 48.5%;
  margin: 1% 1% 0.5% 0.5%;
}

.left-input {
  clear: left;
  width: 215px;
  float: left;
}

.right-input {
  clear: right;
  width: 215px;
  float: right;
}

.full-input {
  clear: both;
  width: 100%;
}

.form-wrapper {
  padding: 20px 40px;
  background-color: #333;
  border: 2px solid #fff;
  color: #fff;
  width: 550px;
  h1 {
    color: #F3E6BA;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 48px;
  }
  & > form > div {
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    label {
      font-family: 'Bitter', serif;

      font-size: 24px;
    }
  }
}

.workout-input {
  padding-left: 10px;
  font-size: 18px;
  display: block;
  width: 100%;
  height: 40px;
  color: #333;
  &.workout-notes {
    height: 100px;
  }
  &:focus {
    outline-color: #a9f073
  }
}

.activity-select-container {
  cursor: pointer;
  position: relative;
  background-color: #fff;
  height: 40px;
  & > .activity-select {
    position: relative;
    & > span {
      &:first-child {
        position: relative;
        top: 8px;
        padding: 9px 0;
      }
      &.glyphicon {
        position: absolute;
        top: 14px;
        left: 180px;
      }
    }
    &.expanded > span.glyphicon {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
    }
  }
  & > ul.activity-list {
    position: absolute;
    list-style: none;
    margin-left: 0px;
    padding: 5px;
    font-size: 18px;
    top: 95%;
    left: -6px;
    li {
      background-color: #fff;
      position: relative;
      height: 30px;
      width: 217px;
      padding: 3px 10px;
      border: 1px solid #333;
      color: #333;
      font-size: 16px;
      &:hover {
        background-color: #a9f073;
      }
      & > span.glyphicon {
        position: absolute;
        top: 3px;
        left: 160px;
        font-size: 20px;
        -webkit-transition: transform 350ms ease;
        -moz-transition: transform 350ms ease;
        -o-transition: transform 350ms ease;
        transition: transform 350ms ease;
      }
    }
  }
}

#bottom-hr {
  margin: 30px 0;
}

.workout-submit {
  margin: 0px auto 10px auto;
  display: block;
  height: 50px;
  width: 200px;
  background-color: #F3E6BA;
  border: none;
  color: #333;
  font-family: 'Bitter', serif;

  font-size: 24px;
  &:hover {
    background-color: #a9f073;
  }
}
